.directory img{
	width:0.65rem;
	margin-top:0.15rem;	
		
}
.directory{

	display:block;
	margin-top:0.9rem;
	float:left;
	margin-left:1rem;
	width:2rem;
	height: 2rem;
	border-radius:50%;
	background-color:#030303;	

}

/*.playlist {
    background-image: url("./coverpicture.png");
    background-position: -0.6rem 0.0rem;
    background-repeat: no-repeat;
}
*/